[Desktop Entry]
Encoding=UTF-8
Name=BTCSWallet
GenericName=BTCSWallet
Name[fa]=پارسی پی
Name[uk]=BTCSWallet
Name[ru]=BTCSWallet
Name[pl]=BTCSWallet
Name[be]=BTCSWallet
Name[de]=BTCSWallet
Name[es]=BTCSWallet
Comment=BTCS wallet
Comment[uk]=کیف پول فارسی برای سکه های BTCS
Comment[uk]=Гаманець BTCS
Comment[ru]=Кошелек BTCS
Comment[pl]=Portfel BTCS
Comment[be]=Кашалёк BTCS
Comment[de]=BTCS Brieftasche
Comment[es]=BTCS Monedero
Exec=BTCSWallet %U
Terminal=false
Type=Application
Icon=BTCS
MimeType=x-scheme-handler/BTCS;
Categories=Office;Finance;
Version=3.3.0
